<h2>Welcome <%= @user.name %>!</h2>  <a href="/logout">Log Out</a>

<h3>All Songs in our Hub</h3>

<table>
	<thead>
		<th>Artist</th>
		<th>Title</th>
		<th>Times Added</th>
		<th>Add to Playlist</th>
	</thead>
	<tbody>
		<% @songs.each do |s| %>
		<tr>
			<td><%= s.artist %></td>
			<td><a href="/songs/<%= s.id %>"><%= s.title %></a></td>
			<td> <%= @adds.where(song:Song.find(s.id)).count %> </td>
			<td>
				<form action = "/adds" method = "post">
					<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
					<input type = "hidden" name = "add[user_id]" value = "<%= @user.id %>">
					<input type = "hidden" name = "add[song_id]" value = "<%= s.id %>">
					<input type = "submit" value = "ADD!">
				</form>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<h3>Add a Song to the hub</h3>

<form action = "/songs" method = "post">
	<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
	<p> Artist:<input type = "text" name = "song[artist]"></p>
	<p> Title:<input type = "text" name = "song[title]"></p>
	<input type = "hidden" name = "song[user_id]" value = "<%= @user.id %>">
	<input type = "submit" value = "Add Song">
</form>

<% if flash[:errors] %>
	<p> <%= flash[:errors] %> </p>
<% end %>












