<div class = "row">
	<div class = "small-12 medium-8 columns">
		<h2 class = "section_title">Welcome, <%= @user.name %>!</h2>
	</div>
	<div class = "small-12 medium-3 columns">
		<a class = "button small right" href="/logout">Log Out</a>
	</div>
</div>
<br>


<div class = "row medium-uncollapse">
	<div class = "small-12 medium-8 columns">
		<div class= "row">
			<h3 class = "section_title">All Songs in our Hub</h3>
		</div>
		
		<div class = "row">
			<table class = "hub">
				<thead>
					<tr>
						<th>Artist</th>
						<th>Title</th>
						<th>Times Added</th>
						<th>Add to Playlist</th>
					</tr>
				</thead>
				<tbody>
					<% @songs.each do |s| %>
					<tr>
						<td><%= s.artist %></td>
						<td><a href="/songs/<%= s.id %>"><%= s.title %></a></td>
						<td> <%= @adds.where(song:Song.find(s.id)).count %> </td>
						<td>
							<form action = "/adds" method = "post">
								<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
								<input type = "hidden" name = "add[user_id]" value = "<%= @user.id %>">
								<input type = "hidden" name = "add[song_id]" value = "<%= s.id %>">
								<button class = "tiny" type = "submit">ADD!</button>

							</form>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<div class = "small-12 medium-4 columns">	
		<div class= "row">
			<h3 class = "section_title">Add a Song to the hub</h3>
		</div>
		
		<div class = "row">
			<form action = "/songs" method = "post">
				<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
				<input type = "hidden" name = "song[user_id]" value = "<%= @user.id %>">
		
				<div class="row">
				    <div class="small-12 columns">
				    	<label>Artist
				       		<input type="text" name = "song[artist]"/>
				    	</label>
				    </div>
				</div>
		
				<div class="row">
				    <div class="small-12 columns">
				    	<label>Title
				       		<input type="text" name = "song[title]"/>
				    	</label>
				    </div>
				</div>
				<button class = "small right" type = "submit">Add Song</button>
			</form>
		</div>
	</div>
</div>

<div class = "row">
	<div class = "small-12 columns">
		<% if flash[:errors] %>
			<p class = "red"> <%= flash[:errors] %> </p>
		<% end %>
	</div>
</div>




























