<div class = "row">
	<div class = "small-12 columns">
		<a class = "button small left atext" href="/songs">Back To All Songs</a>
		<a class = "button small right atext" href="/logout">Log Out</a>
	</div>
</div>


<div class = "row text-center">
	
	<div class = "row">
		<div class = "small-12 columns">
			<h3 class = "section_title">Others who added <%= @song.title %> by <%= @song.artist %></h3>
		</div>
	</div>
	
	<div class = "row">
		<div class = "small-12 columns">
			<table align = "center">
				<thead>
					<tr>
						<th>Name</th>
						<th>Times Added</th>
					</tr>
				</thead>
				<tbody>
			
					<% @adds.each do |a| %>
					
					 <tr>
						<td><a href="/users/<%=a.user_id%>"><%= a.user.name %></a></td>
						<td><%= @adds.where(user:User.find(a.user_id)).count %></td>
					</tr>
					
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

</div>