<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Hey DJ!" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>

<body>
    <div class = "row">
        <div class = "small-12 logo">
            <h1 class = "text-right"><a class = "title" href="/">Hey DJ! Music Club</a></h1>
        </div>
    </div>
    <br>
    <%= yield %>
    <br>
    <div class = "row">
        <div class = "footer small-12">
                <p class = "text-left">Mila Wilkinson &copy; 2015</p>
        </div>
    </div>

</body>
</html>
